# Practice Exercise: Importing data & Exploring data (manipulation)

## Context:
- The data is about NBA (National Basketball Association) games from 2004 season to Dec, 2020.
- We'll be focusing on practicing importing data and data manipulation techniques learned in the course. But the dataset is also popular to be used for predicting NBA games winners.
- We've made minor changes on the data to fit this exercise, such as changing the column names. Check out the original source if you are interested in using this data for other purposes (https://www.kaggle.com/nathanlauga/nba-games)

## Dataset Description:

We'll work on two datasets (in two separate csv files):

  - **games**: each game from 2004 season to Dec 2020, including information about the two teams in each game, and some details like number of points, etc
  - **teams**: information about each team played in the games
  
Assume we want to study the game level data, but with detailed information about each team. We'll need to combine these two datasets together.

## Objective: 
   - Load/examine/subset/rename/change dtypes of columns for each individual dataset
   - Combine them into a single dataset, and export it
   - Explore the final dataset by subsetting or sorting

### 1. Import the libraries

In [5]:
import pandas as pd

### 2. Load the data in `games.csv` as a DataFrame called `games`

Save the csv file under the same directory as the notebook if not typing the full path.

In [14]:
games = pd.read_csv('Imp_exp_data_exercise/games.csv')

### 3. Look at the first 5 rows of the DataFrame

In [15]:
games.head(5)

,GAME_DATE,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,POINTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,POINTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2020-12-19,12000047,Final,1610612753,1610612766,2020,1610612753,120,0.433,0.792,...,23,50,1610612766,117,0.444,0.864,0.439,21,52,1
1,2020-12-19,12000048,Final,1610612764,1610612765,2020,1610612764,99,0.427,0.625,...,24,45,1610612765,96,0.402,0.647,0.326,18,51,1
2,2020-12-19,12000049,Final,1610612763,1610612737,2020,1610612763,116,0.400,0.744,...,21,43,1610612737,117,0.422,0.837,0.297,24,47,0
3,2020-12-18,12000039,Final,1610612754,1610612755,2020,1610612754,107,0.371,0.692,...,19,45,1610612755,113,0.533,0.629,0.355,23,48,0
4,2020-12-18,12000040,Final,1610612761,1610612748,2020,1610612761,105,0.380,0.737,...,27,37,1610612748,117,0.534,0.741,0.514,30,51,0

### 4. Look at the columns of the DataFrame

In [18]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23421 entries, 0 to 23420
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE         23421 non-null  object
 1   GAME_ID           23421 non-null  int64
 2   GAME_STATUS_TEXT  23421 non-null  object
 3   HOME_TEAM_ID      23421 non-null  int64
 4   VISITOR_TEAM_ID   23421 non-null  int64
 5   SEASON            23421 non-null  int64
 6   TEAM_ID_home      23421 non-null  int64
 7   POINTS_home       23421 non-null  int64
 8   FG_PCT_home       23421 non-null  float64
 9   FT_PCT_home       23421 non-null  float64
 10  FG3_PCT_home      23421 non-null  float64
 11  AST_home          23421 non-null  int64
 12  REB_home          23421 non-null  int64
 13  TEAM_ID_away      23421 non-null  int64
 14  POINTS_away       23421 non-null  int64
 15  FG_PCT_away       23421 non-null  float64
 16  FT_PCT_away       23421 non-null  float64
 17  FG3_PCT_away      23421 non-null  float64
 18  AST_away          23421 non-null  int64
 19  REB_away          23421 non-null  int64
 20  HOME_TEAM_WINS    23421 non-null  int64
dtypes: float64(6), int64(13), object(2)
memory usage: 3.8+ MB

### 5. Reassign `games` as its subset of the columns 'GAME_DATE', 'GAME_STATUS_TEXT', 'TEAM_ID_home', 'TEAM_ID_away', 'POINTS_home', 'POINTS_away', 'HOME_TEAM_WINS'

We'll only keep some columns about the games

In [19]:
games = games.loc[:, [ 'GAME_DATE', 'GAME_STATUS_TEXT', 'TEAM_ID_home', 'TEAM_ID_away', 'POINTS_home', 'POINTS_away', 'HOME_TEAM_WINS']]

### 6. Look at the new `games` DataFrame's first 5 rows, and info summary

In [21]:
games.head(5)
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23421 entries, 0 to 23420
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE         23421 non-null  object
 1   GAME_STATUS_TEXT  23421 non-null  object
 2   TEAM_ID_home      23421 non-null  int64
 3   TEAM_ID_away      23421 non-null  int64
 4   POINTS_home       23421 non-null  int64
 5   POINTS_away       23421 non-null  int64
 6   HOME_TEAM_WINS    23421 non-null  int64
dtypes: int64(5), object(2)
memory usage: 1.3+ MB

### 7. Convert `GAME_DATE` to a `datetime` dtype

In [24]:
games['GAME_DATE'] = pd.to_datetime(games['GAME_DATE'])
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23421 entries, 0 to 23420
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE         23421 non-null  datetime64[ns]
 1   GAME_STATUS_TEXT  23421 non-null  object
 2   TEAM_ID_home      23421 non-null  int64
 3   TEAM_ID_away      23421 non-null  int64
 4   POINTS_home       23421 non-null  int64
 5   POINTS_away       23421 non-null  int64
 6   HOME_TEAM_WINS    23421 non-null  int64
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 1.3+ MB

### 8. Convert `GAME_STATUS_TEXT` to a `string` dtype

In [28]:
games['GAME_STATUS_TEXT'] = games['GAME_STATUS_TEXT'].astype(str)

### 9. Look at the info summary of the DataFrame to verify the changes

In [29]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23421 entries, 0 to 23420
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE         23421 non-null  datetime64[ns]
 1   GAME_STATUS_TEXT  23421 non-null  object
 2   TEAM_ID_home      23421 non-null  int64
 3   TEAM_ID_away      23421 non-null  int64
 4   POINTS_home       23421 non-null  int64
 5   POINTS_away       23421 non-null  int64
 6   HOME_TEAM_WINS    23421 non-null  int64
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 1.3+ MB

### 10. Load the data in `teams.csv` as a DataFrame called `teams`, and look at its first 5 rows, and its columns

In [38]:
teams = pd.read_csv('Imp_exp_data_exercise/teams.csv')

### 11. Reassign `teams` as a subset of its columns 'TEAM_ID', 'CITY', 'NICKNAME', and look at its first 5 rows and info summary

We'll only keep some columns about the teams

In [41]:
teams = teams.loc[:,['TEAM_ID', 'CITY', 'NICKNAME']]

In [42]:
teams.head(5)

      TEAM_ID         CITY   NICKNAME
0  1610612737      Atlanta      Hawks
1  1610612738       Boston    Celtics
2  1610612740  New Orleans   Pelicans
3  1610612741      Chicago      Bulls
4  1610612742       Dallas  Mavericks

In [43]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TEAM_ID   30 non-null     int64
 1   CITY      30 non-null     object
 2   NICKNAME  30 non-null     object
dtypes: int64(1), object(2)
memory usage: 852.0+ bytes

### 12. Convert both columns `CITY` and `NICKNAME` to a `string` dtype

In [45]:
teams['CITY'] = teams['CITY'].astype(str)
teams['NICKNAME'] = teams['NICKNAME'].astype(str)

### 13. Verify the changes with the `dtypes` attribute

In [46]:
teams.dtypes

TEAM_ID      int64
CITY        object
NICKNAME    object
dtype: object

### 14. Print out the first two rows of `games` and `teams`, how can we combine them?

In [51]:
games.head(2)

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS
0,2020-12-19,0 Final\n1 Final\n2 Final...,1610612753,1610612766,120,117,1
1,2020-12-19,0 Final\n1 Final\n2 Final...,1610612764,1610612765,99,96,1

In [52]:
teams.head(2)

      TEAM_ID     CITY NICKNAME
0  1610612737  Atlanta    Hawks
1  1610612738   Boston  Celtics

*Hint:*

*Within the `games` DataFrame, there are two columns `TEAM_ID_home` and `TEAM_ID_away`. This is because each game involves two teams playing against each other. The team that played in its own location, is called the 'home' team, the team that played outside its location, is called the 'away' team. Each game has one 'home' team and one 'away' team.*

*While the `teams` DataFrame stores the information about each team, the identifier for each team is the column `TEAM_ID`.*

*We can merge the two DataFrames based on:*

- *`TEAM_ID_home` in `games` and `TEAM_ID` in `teams`: to get the team information for the 'home' team*
- *`TEAM_ID_away` in `games` and `TEAM_ID` in `teams`: to get the team information for the 'away' team*

### 15. Merge (inner) `games` and `teams` based on 'TEAM_ID_home' and 'TEAM_ID', call the merged DataFrame `games_with_home_team`

In [59]:
games_with_home_team = pd.merge(games, teams, left_on='TEAM_ID_home', right_on='TEAM_ID', how='inner')

### 16. Print out the first 5 rows of the new DataFrame

Since we used the column `TEAM_ID_home` when merging, the two columns `CITY` and `NICKNAME` are storing the city and nickname of the 'home' team. 
So let's rename them.

In [60]:
games_with_home_team.head(5)

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS,TEAM_ID,CITY,NICKNAME
0,2020-12-19,0 Final\n1 Final\n2 Final...,1610612753,1610612766,120,117,1,1610612753,Orlando,Magic
1,2020-12-19,0 Final\n1 Final\n2 Final...,1610612764,1610612765,99,96,1,1610612764,Washington,Wizards
2,2020-12-19,0 Final\n1 Final\n2 Final...,1610612763,1610612737,116,117,0,1610612763,Memphis,Grizzlies
3,2020-12-18,0 Final\n1 Final\n2 Final...,1610612754,1610612755,107,113,0,1610612754,Indiana,Pacers
4,2020-12-18,0 Final\n1 Final\n2 Final...,1610612761,1610612748,105,117,0,1610612761,Toronto,Raptors

### 17. Rename the column `CITY` as 'city_home', `NICKNAME` as 'nickname_home'

In [61]:
games_with_home_team = games_with_home_team.rename(columns={'CITY':'city_home', 'NICKNAME': 'nickname_home'})
games_with_home_team.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23421 entries, 0 to 23420
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE         23421 non-null  datetime64[ns]
 1   GAME_STATUS_TEXT  23421 non-null  object
 2   TEAM_ID_home      23421 non-null  int64
 3   TEAM_ID_away      23421 non-null  int64
 4   POINTS_home       23421 non-null  int64
 5   POINTS_away       23421 non-null  int64
 6   HOME_TEAM_WINS    23421 non-null  int64
 7   TEAM_ID           23421 non-null  int64
 8   city_home         23421 non-null  object
 9   nickname_home     23421 non-null  object
dtypes: datetime64[ns](1), int64(6), object(3)
memory usage: 1.8+ MB

### 18. Merge (inner) `games_with_home_team` and `teams` based on 'TEAM_ID_away' and 'TEAM_ID', call the merged DataFrame `games_with_both_teams`

In [62]:
games_with_both_teams = pd.merge(games_with_home_team, teams, left_on='TEAM_ID_away', right_on='TEAM_ID', how='inner')

### 19. Print out the first two rows of the new DataFrame

Since we used the column `TEAM_ID_away` when merging, the two columns `CITY` and `NICKNAME` are storing the city and nickname of the 'away' team. 
So let's rename them.

In [64]:
games_with_both_teams.head(2)

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS,TEAM_ID_x,city_home,nickname_home,TEAM_ID_y,CITY,NICKNAME
0,2020-12-19,0 Final\n1 Final\n2 Final...,1610612753,1610612766,120,117,1,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets
1,2020-12-19,0 Final\n1 Final\n2 Final...,1610612764,1610612765,99,96,1,1610612764,Washington,Wizards,1610612765,Detroit,Pistons

### 20. Rename the column `CITY` as 'city_away', `NICKNAME` as 'nickname_away'

In [65]:
games_with_both_teams = games_with_both_teams.rename({'CITY': 'city_away', 'NICKNAME': 'nickname_away'})

### 21. Print out the first 5 rows of the new DataFrame

You probably have noticed that there are two columns called `TEAM_ID_x` and `TEAM_ID_y`. This is because we merged the DataFrame twice with the `teams` DataFrame. So the `TEAM_ID` column from `teams` is added twice to the merged DataFrame. 

To avoide duplicate column names, `pandas` added the suffixes of '_x' and '_y' to distinguish them. But due to inner joins, `TEAM_ID_x` is the same as `TEAM_ID_home`, and `TEAM_ID_y` is the same as `TEAM_ID_away`.

In [66]:
games_with_both_teams.head(5)

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS,TEAM_ID_x,city_home,nickname_home,TEAM_ID_y,CITY,NICKNAME
0,2020-12-19,0 Final\n1 Final\n2 Final...,1610612753,1610612766,120,117,1,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets
1,2020-12-19,0 Final\n1 Final\n2 Final...,1610612764,1610612765,99,96,1,1610612764,Washington,Wizards,1610612765,Detroit,Pistons
2,2020-12-19,0 Final\n1 Final\n2 Final...,1610612763,1610612737,116,117,0,1610612763,Memphis,Grizzlies,1610612737,Atlanta,Hawks
3,2020-12-18,0 Final\n1 Final\n2 Final...,1610612754,1610612755,107,113,0,1610612754,Indiana,Pacers,1610612755,Philadelphia,76ers
4,2020-12-18,0 Final\n1 Final\n2 Final...,1610612761,1610612748,105,117,0,1610612761,Toronto,Raptors,1610612748,Miami,Heat

### The team ID columns are not needed after the merge of the DataFrames. 

### The below code is provided to drop the columns 'TEAM_ID_home', 'TEAM_ID_away', 'TEAM_ID_x', 'TEAM_ID_y' from `games_with_both_teams`. We'll learn about this `drop` method in a later section

In [67]:
games_with_both_teams = games_with_both_teams.drop(columns=['TEAM_ID_home', 'TEAM_ID_away', 'TEAM_ID_x', 'TEAM_ID_y'])
games_with_both_teams.head()

,GAME_DATE,GAME_STATUS_TEXT,POINTS_home,POINTS_away,HOME_TEAM_WINS,city_home,nickname_home,CITY,NICKNAME
0,2020-12-19,0 Final\n1 Final\n2 Final...,120,117,1,Orlando,Magic,Charlotte,Hornets
1,2020-12-19,0 Final\n1 Final\n2 Final...,99,96,1,Washington,Wizards,Detroit,Pistons
2,2020-12-19,0 Final\n1 Final\n2 Final...,116,117,0,Memphis,Grizzlies,Atlanta,Hawks
3,2020-12-18,0 Final\n1 Final\n2 Final...,107,113,0,Indiana,Pacers,Philadelphia,76ers
4,2020-12-18,0 Final\n1 Final\n2 Final...,105,117,0,Toronto,Raptors,Miami,Heat

### 22. Make a copy of `games_with_both_teams` and assign it as `games`

In [86]:
games = games_with_both_teams.copy()

### 23. Change the column names in `games` to all lowercase

In [90]:
games.columns = games.columns.str.lower()

### 24. Print out the columns of `games` to verify the changes

In [91]:
games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23421 entries, 0 to 23420
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   game_date         23421 non-null  datetime64[ns]
 1   game_status_text  23421 non-null  object
 2   points_home       23421 non-null  int64
 3   points_away       23421 non-null  int64
 4   home_team_wins    23421 non-null  int64
 5   city_home         23421 non-null  object
 6   nickname_home     23421 non-null  object
 7   city              23421 non-null  object
 8   nickname          23421 non-null  object
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 1.8+ MB

### 25. Print out the columns of `games_with_both_teams` to verify that the original DataFrame wasn't impacted by the copy

In [92]:
games_with_both_teams.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23421 entries, 0 to 23420
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE         23421 non-null  datetime64[ns]
 1   GAME_STATUS_TEXT  23421 non-null  object
 2   POINTS_home       23421 non-null  int64
 3   POINTS_away       23421 non-null  int64
 4   HOME_TEAM_WINS    23421 non-null  int64
 5   city_home         23421 non-null  object
 6   nickname_home     23421 non-null  object
 7   CITY              23421 non-null  object
 8   NICKNAME          23421 non-null  object
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 1.8+ MB

### 26. Check the dimensionality  of `games`

In [94]:
games.shape

(23421, 9)

### 27. Export `games` as a csv file called 'games_transformed.csv', and open the csv file to look at it

Feel free to test the difference of the csv files with or without the argument `index=False`

In [96]:
games.to_csv('games_transformed.csv')

### 28. Select all the columns of 'number' dtypes from `games`

In [97]:
games.select_dtypes(include='number')

       points_home  points_away  home_team_wins
0              120          117               1
1               99           96               1
2              116          117               0
3              107          113               0
4              105          117               0
...            ...          ...             ...
23416           93           87               1
23417           81           85               0
23418           98           95               1
23419           99           94               1
23420           86           98               0

[23421 rows x 3 columns]

### 29. Select all the columns NOT of 'number' dtypes from `games`

In [98]:
games.select_dtypes(exclude='number')

,game_date,game_status_text,city_home,nickname_home,city,nickname
0,2020-12-19,0 Final\n1 Final\n2 Final...,Orlando,Magic,Charlotte,Hornets
1,2020-12-19,0 Final\n1 Final\n2 Final...,Washington,Wizards,Detroit,Pistons
2,2020-12-19,0 Final\n1 Final\n2 Final...,Memphis,Grizzlies,Atlanta,Hawks
3,2020-12-18,0 Final\n1 Final\n2 Final...,Indiana,Pacers,Philadelphia,76ers
4,2020-12-18,0 Final\n1 Final\n2 Final...,Toronto,Raptors,Miami,Heat
...,...,...,...,...,...,...
23416,2014-10-06,0 Final\n1 Final\n2 Final...,Atlanta,Hawks,New Orleans,Pelicans
23417,2014-10-06,0 Final\n1 Final\n2 Final...,Chicago,Bulls,Washington,Wizards
23418,2014-10-06,0 Final\n1 Final\n2 Final...,Los Angeles,Lakers,Denver,Nuggets
23419,2014-10-05,0 Final\n1 Final\n2 Final...,Toronto,Raptors,Sacramento,Kings
23420,2014-10-04,0 Final\n1 Final\n2 Final...,Miami,Heat,New Orleans,Pelicans

### 30. Print out the first 5 rows of `games` as a reference

In [99]:
games.head(5)

,game_date,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city,nickname
0,2020-12-19,0 Final\n1 Final\n2 Final...,120,117,1,Orlando,Magic,Charlotte,Hornets
1,2020-12-19,0 Final\n1 Final\n2 Final...,99,96,1,Washington,Wizards,Detroit,Pistons
2,2020-12-19,0 Final\n1 Final\n2 Final...,116,117,0,Memphis,Grizzlies,Atlanta,Hawks
3,2020-12-18,0 Final\n1 Final\n2 Final...,107,113,0,Indiana,Pacers,Philadelphia,76ers
4,2020-12-18,0 Final\n1 Final\n2 Final...,105,117,0,Toronto,Raptors,Miami,Heat

### 31. Select the row with label 0

In [101]:
games.loc[0]

game_date                                         2020-12-19 00:00:00
game_status_text    0        Final\n1        Final\n2        Final...
points_home                                                       120
points_away                                                       117
home_team_wins                                                      1
city_home                                                     Orlando
nickname_home                                                   Magic
city                                                        Charlotte
nickname                                                      Hornets
Name: 0, dtype: object

### 32. Select the row with integer position 0

In [102]:
games.iloc[0]

game_date                                         2020-12-19 00:00:00
game_status_text    0        Final\n1        Final\n2        Final...
points_home                                                       120
points_away                                                       117
home_team_wins                                                      1
city_home                                                     Orlando
nickname_home                                                   Magic
city                                                        Charlotte
nickname                                                      Hornets
Name: 0, dtype: object

### 33. Set the column `game_date` as the index of DataFrame `games`

In [104]:
games=games.set_index('game_date')

### 34. Print out the index of `games` to verify the changes

In [105]:
games.index

DatetimeIndex(['2020-12-19', '2020-12-19', '2020-12-19', '2020-12-18',
               '2020-12-18', '2020-12-18', '2020-12-18', '2020-12-18',
               '2020-12-18', '2020-12-18',
               ...
               '2014-10-07', '2014-10-07', '2014-10-07', '2014-10-07',
               '2014-10-06', '2014-10-06', '2014-10-06', '2014-10-06',
               '2014-10-05', '2014-10-04'],
              dtype='datetime64[ns]', name='game_date', length=23421, freq=None)

### 35. Select the rows with label '2020-12-18'

In [117]:
games.loc['2020-12-18':'2020-12-19']

KeyError: 'Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is not allowed.'

### 36. Select the rows with labels from '2020-12-18' to '2020-12-19'

In [121]:
games = games.sort_values(by='game_date')
games.loc['2020-12-18':'2020-12-19', :]

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city,nickname
game_date,,,,,,,,
2020-12-18,0 Final\n1 Final\n2 Final...,113,114,0,Phoenix,Suns,Los Angeles,Lakers
2020-12-18,0 Final\n1 Final\n2 Final...,129,96,1,Denver,Nuggets,Portland,Trail Blazers
2020-12-18,0 Final\n1 Final\n2 Final...,103,105,0,Oklahoma City,Thunder,Chicago,Bulls
2020-12-18,0 Final\n1 Final\n2 Final...,127,113,1,New Orleans,Pelicans,Milwaukee,Bucks
2020-12-18,0 Final\n1 Final\n2 Final...,89,113,0,Boston,Celtics,Brooklyn,Nets
2020-12-18,0 Final\n1 Final\n2 Final...,119,83,1,New York,Knicks,Cleveland,Cavaliers
2020-12-18,0 Final\n1 Final\n2 Final...,105,117,0,Toronto,Raptors,Miami,Heat
2020-12-18,0 Final\n1 Final\n2 Final...,107,113,0,Indiana,Pacers,Philadelphia,76ers
2020-12-19,0 Final\n1 Final\n2 Final...,116,117,0,Memphis,Grizzlies,Atlanta,Hawks
2020-12-19,0 Final\n1 Final\n2 Final...,99,96,1,Washington,Wizards,Detroit,Pistons
2020-12-19,0 Final\n1 Final\n2 Final...,120,117,1,Orlando,Magic,Charlotte,Hornets

### 37. Select the rows with labels of '2020-12-18' and '2019-12-18'

In [123]:
games.loc[['2020-12-18','2020-12-19']]

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city,nickname
game_date,,,,,,,,
2020-12-18,0 Final\n1 Final\n2 Final...,113,114,0,Phoenix,Suns,Los Angeles,Lakers
2020-12-18,0 Final\n1 Final\n2 Final...,129,96,1,Denver,Nuggets,Portland,Trail Blazers
2020-12-18,0 Final\n1 Final\n2 Final...,103,105,0,Oklahoma City,Thunder,Chicago,Bulls
2020-12-18,0 Final\n1 Final\n2 Final...,127,113,1,New Orleans,Pelicans,Milwaukee,Bucks
2020-12-18,0 Final\n1 Final\n2 Final...,89,113,0,Boston,Celtics,Brooklyn,Nets
2020-12-18,0 Final\n1 Final\n2 Final...,119,83,1,New York,Knicks,Cleveland,Cavaliers
2020-12-18,0 Final\n1 Final\n2 Final...,105,117,0,Toronto,Raptors,Miami,Heat
2020-12-18,0 Final\n1 Final\n2 Final...,107,113,0,Indiana,Pacers,Philadelphia,76ers
2020-12-19,0 Final\n1 Final\n2 Final...,116,117,0,Memphis,Grizzlies,Atlanta,Hawks
2020-12-19,0 Final\n1 Final\n2 Final...,99,96,1,Washington,Wizards,Detroit,Pistons
2020-12-19,0 Final\n1 Final\n2 Final...,120,117,1,Orlando,Magic,Charlotte,Hornets

### 38. Select the rows with `points_home` greater than 150

In [124]:
games.loc[games['points_home'] > 150]

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city,nickname
game_date,,,,,,,,
2006-12-07,0 Final\n1 Final\n2 Final...,157,161,0,Brooklyn,Nets,Phoenix,Suns
2006-12-27,0 Final\n1 Final\n2 Final...,151,145,1,New York,Knicks,Detroit,Pistons
2008-03-16,0 Final\n1 Final\n2 Final...,168,116,1,Denver,Nuggets,Oklahoma City,Thunder
2008-04-06,0 Final\n1 Final\n2 Final...,151,147,1,Oklahoma City,Thunder,Denver,Nuggets
2010-03-16,0 Final\n1 Final\n2 Final...,152,114,1,Phoenix,Suns,Minnesota,Timberwolves
2019-01-10,0 Final\n1 Final\n2 Final...,154,147,1,San Antonio,Spurs,Oklahoma City,Thunder
2019-03-01,0 Final\n1 Final\n2 Final...,161,168,0,Atlanta,Hawks,Chicago,Bulls
2019-10-30,0 Final\n1 Final\n2 Final...,158,159,0,Washington,Wizards,Houston,Rockets
2019-11-30,0 Final\n1 Final\n2 Final...,158,111,1,Houston,Rockets,Atlanta,Hawks
2020-01-26,0 Final\n1 Final\n2 Final...,152,133,1,Atlanta,Hawks,Washington,Wizards
2020-01-28,0 Final\n1 Final\n2 Final...,151,131,1,Milwaukee,Bucks,Washington,Wizards
2020-08-25,0 Final\n1 Final\n2 Final...,154,111,1,Los Angeles,Clippers,Dallas,Mavericks

### 39. Select the rows with `points_home` greater than 150, and `home_team_wins` not being 1

In [126]:
games.loc[(games['points_home'] > 150) & (games['home_team_wins'] != 1)]

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city,nickname
game_date,,,,,,,,
2006-12-07,0 Final\n1 Final\n2 Final...,157,161,0,Brooklyn,Nets,Phoenix,Suns
2019-03-01,0 Final\n1 Final\n2 Final...,161,168,0,Atlanta,Hawks,Chicago,Bulls
2019-10-30,0 Final\n1 Final\n2 Final...,158,159,0,Washington,Wizards,Houston,Rockets

### 40. Select the rows with `points_home` greater than 150, and `home_team_wins` not being 1, as well as the columns `home_team_wins` and `points_home`

In [133]:
games.loc[(games['points_home'] > 150) & (games['home_team_wins'] != 1), ['home_team_wins', 'points_home']]

            home_team_wins  points_home
game_date
2006-12-07               0          157
2019-03-01               0          161
2019-10-30               0          158

### 41. Reset the index of `games` back to default and verify the changes

In [135]:
games.reset_index
games.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 23421 entries, 2003-10-05 to 2020-12-19
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   game_status_text  23421 non-null  object
 1   points_home       23421 non-null  int64
 2   points_away       23421 non-null  int64
 3   home_team_wins    23421 non-null  int64
 4   city_home         23421 non-null  object
 5   nickname_home     23421 non-null  object
 6   city              23421 non-null  object
 7   nickname          23421 non-null  object
dtypes: int64(3), object(5)
memory usage: 2.1+ MB

### 42. Add a new column called `points_total`, as the sum of columns `points_home` and `points_away`

In [136]:
games['points_total'] =  games['points_home'] + games['points_away']

### 43. Verify the changes by printing out the three columns `points_home`, `points_away`, `points_total`

In [139]:
games.loc[:, ['points_home', 'points_away', 'points_total']]

            points_home  points_away  points_total
game_date
2003-10-05           90           85           175
2003-10-06          105           94           199
2003-10-07          104           86           190
2003-10-07          101           82           183
2003-10-07          104           80           184
...                 ...          ...           ...
2020-12-18          105          117           222
2020-12-18          107          113           220
2020-12-19          116          117           233
2020-12-19           99           96           195
2020-12-19          120          117           237

[23421 rows x 3 columns]

### 44. Print out the 3 rows with the largest `points_total` using the `nlargest` method

In [142]:
games.nlargest(3, 'points_total')

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city,nickname,points_total
game_date,,,,,,,,,
2019-03-01,0 Final\n1 Final\n2 Final...,161,168,0,Atlanta,Hawks,Chicago,Bulls,329
2006-12-07,0 Final\n1 Final\n2 Final...,157,161,0,Brooklyn,Nets,Phoenix,Suns,318
2019-10-30,0 Final\n1 Final\n2 Final...,158,159,0,Washington,Wizards,Houston,Rockets,317

### 45. Sort the DataFrame `games` by its `points_total` column in ascending order

Don't forget to reassign the sorted result back to `games`

In [144]:
games = games.sort_values(by='points_total')
games.head()

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city,nickname,points_total
game_date,,,,,,,,,
2007-10-19,0 Final\n1 Final\n2 Final...,36,33,1,Boston,Celtics,Brooklyn,Nets,69
2003-10-08,0 Final\n1 Final\n2 Final...,62,58,1,Indiana,Pacers,Chicago,Bulls,120
2004-11-09,0 Final\n1 Final\n2 Final...,64,60,1,Brooklyn,Nets,Portland,Trail Blazers,124
2005-03-13,0 Final\n1 Final\n2 Final...,64,62,1,Detroit,Pistons,Utah,Jazz,126
2003-11-01,0 Final\n1 Final\n2 Final...,73,56,1,Minnesota,Timberwolves,Toronto,Raptors,129

### 46. Print out the last 3 rows of the sorted DataFrame

Verify that it's the same three rows as the previous example (`nlargest`)

In [145]:
games.tail(3)

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city,nickname,points_total
game_date,,,,,,,,,
2019-10-30,0 Final\n1 Final\n2 Final...,158,159,0,Washington,Wizards,Houston,Rockets,317
2006-12-07,0 Final\n1 Final\n2 Final...,157,161,0,Brooklyn,Nets,Phoenix,Suns,318
2019-03-01,0 Final\n1 Final\n2 Final...,161,168,0,Atlanta,Hawks,Chicago,Bulls,329

### 47. Given that the DataFrame is sorted by `points_total`, select the row with the smallest `points_total` using `iloc`

In [147]:
games.iloc[0]

game_status_text    0        Final\n1        Final\n2        Final...
points_home                                                        36
points_away                                                        33
home_team_wins                                                      1
city_home                                                      Boston
nickname_home                                                 Celtics
city                                                         Brooklyn
nickname                                                         Nets
points_total                                                       69
Name: 2007-10-19 00:00:00, dtype: object

### 48. Select the rows with the second, and third smallest `points_total` using `iloc`

In [148]:
games.iloc[2]

game_status_text    0        Final\n1        Final\n2        Final...
points_home                                                        64
points_away                                                        60
home_team_wins                                                      1
city_home                                                    Brooklyn
nickname_home                                                    Nets
city                                                         Portland
nickname                                                Trail Blazers
points_total                                                      124
Name: 2004-11-09 00:00:00, dtype: object

### 49. Select a subset including the first 4 rows, and the first 5 columns using `iloc`

In [149]:
games.iloc[0:4, 0:5]

,game_status_text,points_home,points_away,home_team_wins,city_home
game_date,,,,,
2007-10-19,0 Final\n1 Final\n2 Final...,36,33,1,Boston
2003-10-08,0 Final\n1 Final\n2 Final...,62,58,1,Indiana
2004-11-09,0 Final\n1 Final\n2 Final...,64,60,1,Brooklyn
2005-03-13,0 Final\n1 Final\n2 Final...,64,62,1,Detroit